fastapi
uvicorn[standard]
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-google-genai
rank_bm25
flashrank
sentence-transformers
tiktoken
chromadb
python-dotenv
pydantic